.herobg {
  
  height:43vh;
  background-image: url("../images/background2e.jpg");
  /* height:24vh; */
  background-image: url("../images/background4e.jpg");
  width:100vw;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-position-x: center;
  background-position-y: center;
  /* position: relative; */
  overflow: visible;
  margin-bottom : 100px
  
}
.caption {
  background-color: rgba(70, 65, 65, 0.904);
  color:white;
  width:65vw;
  height:fit-content;
  padding:15px;
  border-radius: 0 30px 30px 0;
  /* border-radius:69% 31% 82% 18% / 51% 70% 30% 49% ; */
  /* border-radius:78% 22% 75% 25% / 21% 74% 26% 79%  ; */
  margin-left:0px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* position:absolute;
  bottom:-10; */
margin-top:269px;
box-shadow:
  5.9px 6.3px 3px -43px rgba(0, 0, 0, 0.038),
  47px 50px 24px -43px rgba(0, 0, 0, 0.07)
;


}

h1{
  font-size: calc(13/320x100vw);
  font-size: 1.1rem;
  font-weight: 600;
}

p{
  font-size:calc(10/320x100vw);
  font-size:0.7rem;
  margin-bottom:0;
}

.hide{
  display:none;
}

.trashIcon{
  /* the use of pointer-events :none is that to make the icon is unclickable as if it is hologram */
  pointer-events: none; 
}

@media only screen and (min-width:576px){
  .herobg {
    height:49vh;
    margin-bottom:10px;
    
  }

  h1{
    font-size: calc(18/576x100vw);
    font-size: 3vw;
    /* font-size: 1.1rem; */
    font-weight: 600;

  }
  
  p{
    font-size:calc(10/320x100vw);
    font-size:0.7rem;
    font-size: 2.1vw;
  }

  .caption{
    margin-top: 0;
    background-color: rgba(70, 65, 65, 0.582);
    padding:2.6vw;
    width:50vw;
  }
  
}

@media only screen and (min-width:768px){
  .herobg {
    height:65vh;
    
    
  }
}

@media only screen and (min-width:992px){
  .herobg {
    height:80vh;
  }
}
@media only screen and (min-width:1200px){
  .herobg {
    height:90vh;
    /* background-size: 95%; */
    
  }
}
@media only screen and (min-width:1400px){
  .herobg {
    height:100vh;
    
    
  }
}