
.edit,  .editSave{
  display:none;
}
.shopList{
  border-bottom: 1px solid rgba(128, 128, 128, 0.61);
  padding:5px 0;
}

.showEdit {
  display : block;
}

.editShow {
  display:inline;
}

.btn{
  padding:5px;
}